body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  max-height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  padding: 15px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  font-size: 8.9rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

.texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
}

@media (max-width: 1000px) {
  .subtitulo {
    font-size: 3rem;
    max-width: initial !important;
    text-align: center;
  }
  .texto {
    font-size: 1.25rem;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
  }
}
